<h2>Sign Up</h2>

<form action="new_user_url" method="post">
  <label>
    Username
    <input type="text" name="user[username]" placeholder="username">
  </label>

  <label>
    Password
    <input type="password" name="uesr[password]" placeholder="password">
  </label>

  <input type="submit" value="Sign Up">
</form>
